# Visual Studio 
obj/
bin/
sql/
out/
TestResults/
Debug/
Release/
*.csproj.user
*.suo
*.cache
*.user
*.vspscc
*.dbmdl
*.datasource
*.gpState
*.docstates
*.Publish.xml
*.schemaview
*.svclog
*.vsp

# Git
*.orig

# ReSharper
_ReSharper*/
*.ReSharper.*
# Others
Thumbs.db
*.bak
*.cache
*.log

# Local
Downloads/
Cache/
*.ncb
packages/
*.local.config
